html,
body {
	position: relative;
	width: 100%;
	height: 100%;
}

h1,
h3,
p {
	font-family: 'Kanit', sans-serif !important;
}

body {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0, 100, 200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0, 80, 160);
}

label {
	display: block;
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

table {
	border-collapse: collapse;
}

th,
td {
	padding: 16px;
}

tr {
	border-bottom: 1px solid rgba(158, 158, 158, 0.164);
}

tbody>tr:hover {
	background-color: #ffffdd;
}

footer {
	text-align: center;
	margin: 10px 0px;
	align-self: center;
}

code {
	font-size: 0.875rem;
	font-family: Consolas, monaco, monospace;
	color: #f0506e;
	white-space: nowrap;
	padding: 2px 6px;
	background: #f8f8f8;
}

tbody {
	display: table-row-group;
	vertical-align: middle;
}